.dualcard-container {
  width: 90vw;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  color: black;
}
.dualcard-container > div {
  /* border: 1px solid black; */
  text-align: center;
}
.dualcard-container img {
  width: 70%;
  margin: auto;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dualcard-container h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 10px auto;
  font-family: "Roboto";
  text-transform: uppercase;
}
.dualcard-container p {
  font-weight: 400;
  font-size: 17px;
  margin: 5px auto;
  font-family: "Roboto";
  text-transform: capitalize;
}
.dualcard-container button {
  border: 2px solid black;
  padding: 10px 30px;
  font-size: 22px;
  color: black;
  font-family: "Roboto Mono";
  background-color: white;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 1s all ease;
}
.dualcard-container button:hover {
  background-color: black;
  color: white;
}
