.container {
  width: 90vw;
  /* height: 300px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 30px auto;
  gap: 20px;
  border: 1px solid black;
}
.parent {
  width: 100%;
  /* height: 100%; */

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: auto;
  padding-bottom: 10px;
  font-family: sans-serif;
  cursor: pointer;
  transition: transform 0.5s;
}
.parent .wishlist-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid lightgray; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: lightgray;
  z-index: 999;
}
.parent .wishlist-icon .fa-heart:hover {
  color: red;
}
.parent .wishlist-icon:hover {
  border: 1px solid transparent;
}
.parent > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid red; */
  height: 440px;
}
.parent > div button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  padding: 13px;
  border: none;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.parent .inner-image {
  position: absolute;
  /* top: 0; */
  left: 0;
  display: none;
}
.parent .outer-image:hover .inner-image {
  display: block;
}

.parent:hover > div button {
  opacity: 0.7;
  visibility: visible;
  cursor: pointer;
  font-weight: 400;
  color: black;
}
.parent:hover {
  transform: scale(1.05);
}
.parent > div button:hover {
  color: rgb(34, 34, 158);
}
.parent > a {
  margin-left: 5px;
  margin-top: 5px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 13px;
}
.parent:hover > a {
  color: rgb(34, 34, 158);
}
