.cart-container {
  width: 90vw;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 15px auto;
}
.cart-container > div {
  border: 1px solid red;
}
.cart-container > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 450px;
  overflow: scroll;
}
.cart-container > div:nth-child(1)::-webkit-scrollbar {
  display: none;
}
